---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Nav from '../components/nav3.astro';
import Footer from '../components/footer.astro';

---
<Layout title="Censo de cómputo 2022 | CATIC">
    <div>
        <Header/>
        <Nav/>
    </div>
    <main class="flex justify-self-start lg:h-[600px]">
        
        <div class="w-11/12 md:w-6/12 mx-auto survey-welcome text-primary" >
            <h1 class="text-4xl text-center mt-5 md:mt-10">Censo TIC 2023</h1>
            <h2 class="text-3xl text-center mb-8">(Cómputo, periféricos, telecomunicaciones y software)</h2>
                
                <p class="mb-3">
                    
El Consejo Asesor en Tecnologías de Información y Comunicación (CATIC) de la UNAM agradece a las entidades y dependencias que participaron en el Censo de Cómputo por los datos proporcionados, que permitirá ampliar las configuraciones de equipos ofertadas en las Convocatorias para la asignación de equipos de cómputo y tomarlos en cuenta en la distribución de los recursos de cómputo con base en las necesidades expresadas.


                    
                </p>
                
                
                
                <p class="mt-5 font-semibold"> A T E N T A M E N T E</p>
                
                <p>“POR MI RAZA HABLARÁ EL ESPÍRITU”</p>
                
                <p>Cd. Universitaria, Cd. Mx., 14 de agosto de 2024.</p>
                
                <p><strong> CONSEJO ASESOR EN TECNOLOGÍAS DE INFORMACIÓN Y COMUNICACIÓN</strong></p>
                
        </div>

    </main>

    <Footer/>

</Layout>