---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Censo de cómputo 2022 | CATIC">

    

    <main class="mt-8 mb-16">
        <h1 class="text-4xl text-center mt-14">Censo TIC 2022</h1>
        <h3 class="text-2xl text-center">(cómputo, periféricos, telecomunicaciones, software y desarrollo de las TIC)</h3>
            <div class="flex justify-center items-center">
                <div class="w-[730px] mt-4 mx-4">
                    <p class="text-center mb-8">El Consejo Asesor en Tecnologías de Información y Comunicación (CATIC) de la UNAM agradece a las entidades 
                        y dependencias que participaron en el Censo de Cómputo por los datos proporcionados, que permitirá ampliar 
                        las configuraciones de equipos ofertadas en la convocatoria 2023 y tomarlos en cuenta en la distribución de 
                        los recursos de cómputo con base en las necesidades expresadas.</p>
                
                    <p class="text-center font-bold mt-4 mb-4">ATENTAMENTE: </p>
                    <p class="text-center"><i>“POR MI RAZA HABLARÁ EL ESPÍRITU”</i></p>
                    <p class="text-center">Cd. Universitaria, Cd. Mx., 3 de marzo de 2023.</p>
                    <p class="text-center font-bold mb-4"> CONSEJO ASESOR EN TECNOLOGÍAS DE INFORMACIÓN Y COMUNICACIÓN</p>
                    
                </div>
            </div>
    </main>


</Layout>