---
import Layout from '../layouts/Layout.astro';

---

<Layout title='Créditos | CATIC'>


    <main>
        <h1 class="font-roboto text-4xl text-center  mt-5 md:mt-10 mb-5">Directorio institucional</h1>
        
        
        <p class="text-center mb-4">
            Dr. Leonardo Lomelí Vanegas<br>
            <strong>Rector y Presidente del CATIC</strong>
        </p>
        <p class="text-center mb-4">
            Dra. Patricia Dolores Dávila Aranda<br>
            <strong>Secretaría General</strong>
        </p>
        <p class="text-center mb-4">
            Mtro. Tomás Humberto Rubio Pérez<br>
            <strong>Secretaría Administrativa</strong>
        </p>
        <p class="text-center mb-4">
            Dra. Diana Tamara Martínez Ruíz<br>
            <strong>Secretaría de Desarrollo Institucional</strong>
        </p>
        <p class="text-center mb-4">
            Lic. Raúl Arcenio Aguilar Tamayo<br>
            <strong>Secretaría de Prevención, Atención y Seguridad Universitaria</strong>
        </p>
        <p class="text-center mb-4">
            Mtro. Hugo Alejandro Concha Cantú<br>
            <strong>Oficina de la Abogacía General</strong>
        </p>
        <p class="text-center mb-4">
            Mtro. Néstor Martínez Cristo<br>
            <strong>Dirección General de Comunicación Social</strong>
        </p>
        <p class="text-center mb-4">
            Dr. Héctor Benítez Pérez<br>
            <strong>Director General de Cómputo y de Tecnologías de Información y Comunicación y Secretario Técnico del CATIC </strong>
        </p>

        <h2 class="text-2xl text-center mt-12 mb-2">Créditos</h2>
        <p class="text-center mb-4">
            <strong>Coordinación del sitio web</strong><br>
            Dra. Ana Yuri Ramírez Molina
        </p>
        <p class="text-center mb-4">
            <strong>Definición y elaboración de contenidos</strong><br>
            Mtra. Laura Susana Corona Correa<br>
            MATIE. Alberto González Guízar<br>
        </p>
       <p class="text-center mb-4"><strong>Gestión del servicio del sitio</strong><br>
            Ing. José Othoniel Chamú Arias
        </p> 
        
        <p class="text-center mb-4">
            <strong>Desarrollo del sitio web </strong><br>
            L.C.G. Edgar Vargas Zermeño
        </p>
        <p class="text-center mb-4">
            <strong>Enlace con el CATIC</strong><br>
            Mtra. Irene Gabriela Sánchez García
        </p>

        

                <label class=" cursor-pointer " for="toggle-1">
                    <h2 class="flex items-center justify-center text-2xl text-center mt-12 mb-2 border-2 w-[400px] mx-auto py-2 rounded-lg">Créditos históricos 2020-2021 <span class="flex items-center justify-center w-6 h-6 rounded-full bg-blue-400 ml-3 pb-1 text-white ">+</span> </h2>
                </label>
            
            <input type="checkbox" id="toggle-1" class="absolute hidden">
            <div class="hidden filtros box1 mb-5 bg-sky-50 pb-2">
    
                <p class="font-roboto text-4xl text-center py-8 mb-4">Directorio institucional</p>
                <p class="text-center mb-4">
                    Dr. Enrique Graue Wiechers<br>
                    <strong>Rector y Presidente del CATIC</strong>
                </p>
                <p class="text-center mb-4">
                    Dr. Leonardo Lomelí Vanegas<br>
                    <strong>Secretaría General</strong>
                </p>
                <p class="text-center mb-4">
                    Dr. Luis Álvarez Icaza Longoria<br>
                    <strong>Secretaría Administrativa</strong>
                </p>
                <p class="text-center mb-4">
                    Dra. Patricia Dolores Dávila Aranda<br>
                    <strong>Secretaría de Desarrollo Institucional</strong>
                </p>
                <p class="text-center mb-4">
                    Lic. Raúl Arcenio Aguilar Tamayo<br>
                    <strong>Secretaría de Prevención, Atención y Seguridad Universitaria</strong>
                </p>
                <p class="text-center mb-4">
                    Dr. Alfredo Sánchez Castañeda<br>
                    <strong>Oficina de la Abogacía General</strong>
                </p>
                <p class="text-center mb-4">
                    Mtro. Néstor Martínez Cristo<br>
                    <strong>Dirección General de Comunicación Social</strong>
                </p>
                <p class="text-center mb-4">
                    Dr. Héctor Benítez Pérez<br>
                    <strong>Director General de Cómputo y de Tecnologías de Información y Comunicación y Secretario Técnico del CATIC </strong>
                </p>

                <p class="text-2xl text-center mt-12 mb-2">Créditos</p>
                <p class="text-center mb-4">
                    <strong>Coordinación del sitio web</strong><br>
                    Dra. Marcela Peñaloza Báez
                </p>
                <p class="text-center mb-4">
                    <strong>Definición y elaboración de contenidos</strong><br>
                    Dra. Marcela Peñaloza Báez<br>
                    L. C. Irene Gabriela Sánchez García<br>
                    MATIE. Alberto González Guízar<br>
                </p>
                <p class="text-center mb-4">
                    <strong>Coordinación técnica del diseño y desarrollo del sitio web </strong><br>
                    L. C. Irene Gabriela Sánchez García
                </p>
                <p class="text-center mb-4">
                    <strong>Diseño de imagen gráfica, definición de la arquitectura de información y desarrollo del sitio web </strong><br>
                    L.C.G. Edgar Vargas Zermeño
                </p>
                <p class="text-center mb-4">
                    <strong>Desarrollo del sitio web</strong><br>
                    Kevin Martin Rivera Castro
                </p>
                <p class="text-center mb-16">
                    <strong>Revisión y validación de contenidos</strong><br>
                    Dra. Marcela Peñaloza Báez<br>
                    L. C. Irene Gabriela Sánchez García<br>
                </p> 
            </div>

    </main>

    

</Layout>

<style>
    /* Toggled State */
    input[type=checkbox]:checked ~ div.filtros {
        display: block;
    }
</style>