---
import Layout from '../layouts/Layout.astro';

//Importar Docs
import bgDoc1 from '../docs/catic_convocatoria_2021.pdf';
---

<Layout title='CATIC'>

    <main>
        <h1 class="text-3xl text-center mt-12 mb-12">Proceso para verificar la instalación y uso de equipos<br> de cómputo asignados</h1>

        <div class="flex flex-col sm:justify-center sm:items-center">
            <div class="text-base text-venice-blue-700 mb-6">
                <ul class="list-disc">
                    <li class="p-2"><a class="hover:underline" href="https://informaciontic.unam.mx/login" target="_blank">Instrumento de verificación de instalación y uso de equipos de cómputo asignados</a></li>
                    <li class="p-2"><a class="hover:underline" href={bgDoc1} target="_blank">Consulta los datos para el registro de la evidencia documental y fotográfica</a></li>
                    <li class="p-2"><a class="hover:underline" href="#guia">1) Captura de información (Del 16 al 24 de junio de 2022)</a></li>
                    <li class="p-2"><a class="hover:underline" href="#verifica">2) Verificación de la información</a></li>
                    <li class="p-2"><a class="hover:underline" href="#proceso">3) Firmado del documento con FEU (Del 27 de junio al 1 de julio)</a></li>
                </ul>
            </div>
            <div id="guia" class="w-auto md:w-[850px] mb-14">
                <p class="p-2">A continuación se describe el proceso para el registro, verificación y validación de la información.</p>
                <h3 class="text-xl p-2">1) Captura de información (Del 16 al 24 de junio de 2022)</h3>
                <p class="p-2"><strong>El responsable TIC</strong> de la entidad académica será la persona encargada de integrar la información, para tal efecto:</p>
                <ul class="list-disc ml-6 md:ml-14">
                    <li class="mb-2">Se sugiere como primer paso, consultar y preparar los datos que le serán solicitados como evidencia documental y fotográfica, los cuales puede previsualizar aquí: <a class="text-venice-blue-700 hover:underline" href="https://catic.unam.mx/docs/verificacion_equipos_CATIC_casoejemplo_vacio.pdf">https://catic.unam.mx/docs/verificacion_equipos_CATIC_casoejemplo_vacio.pdf</a>
                    </li>
                    <li class="mb-2">
                        En la plataforma <a class="text-venice-blue-700 hover:underline" href="https://informaciontic.unam.mx/forgot-password">https://informaciontic.unam.mx/forgot-password</a> debe ingresar su correo electrónico institucional. Recibirá un correo de Información TIC (<a class="text-venice-blue-700 hover:underline" href="mailto:redtic@comunidad.unam.mx">redtic@comunidad.unam.mx</a>) para asignar su contraseña por primera vez seleccionando el enlace correspondiente.
                    </li>
                    <li class="mb-2">En la pantalla que se despliega, debe ingresar su correo electrónico institucional, su nueva contraseña, así como la confirmación de la misma.</li>
                    <li class="mb-2">Posteriormente debe ingresar a <a class="text-venice-blue-700 hover:underline" href="https://informaciontic.unam.mx/login">https://informaciontic.unam.mx/login</a> e ingresar su correo y contraseña elegida en la pantalla de inicio. </li>
                    <li class="mb-2">Al ingresar, se muestra en la parte superior la opción Cuestionarios, selecciónela y elija <strong class="italic">“Verificación equipos CATIC”.</strong></li>
                    <li class="mb-2">Después, en la pantalla se presentarán los primeros datos precargados avalados por el CATIC, como son el nombre del proyecto y los equipos asignados por configuración. </li>
                    <li class="mb-2">El botón Editar permitirá integrar la evidencia documental y fotográfica e información sobre su validación, presentando la siguiente información:
                        <ul class="ml-3 sm:ml-6">
                            <li class="mb-2">° Datos de quien registra</li>
                            <li class="mb-2">° Datos del proyecto</li>
                            <li class="mb-2">° Evidencia documental de equipos de cómputo i5</li>
                            <li class="mb-2">° Evidencia documental de equipos de cómputo i7</li>
                            <li class="mb-2">° Retroalimentación del proceso de asignación de la partida 514</li>
                            <li class="mb-2">° Avales del área universitaria que firmarán el archivo PDF final</li>
                        </ul>
                        <p class="mb-2">Es importante mencionar que existe una primera sección de equipo de cómputo correspondiente a la configuración i5 y una segunda a los equipos i7. Por favor asegúrese de elegir la sección adecuada de acuerdo con la asignación que recibió la entidad.</p>
                
                        <p class="mb-2">Cabe mencionar que en cada una de estas dos secciones podrá subir el responsable TIC de 1 a 5 fotografías junto con su respectiva descripción donde deberá señalar de manera clara la ubicación física de los equipos.</p>
                
                        <p class="mb-2"><strong>Nota.</strong>Las imágenes deben considerar los formatos: .png, .jpg, .jpeg; con un peso total máximo de 5 MB. Se recomienda un tamaño máximo para la imagen de: 800 x 600 pixeles y una resolución de 72 dpi.</p>
                
                        <p class="mb-2">En caso de que los equipos estén ubicados en más de 5 lugares, se sugiere integrar las fotografías adicionales en una sola imagen e integrar de manera clara el desglose de las ubicaciones en la descripción que acompaña al archivo. </p>
                    </li>

                    <li class="mb-2">El apartado 31 <em>“Declaro bajo protesta de decir verdad que la información y documentación proporcionada es verídica, por lo que en caso de existir falsedad en ella, tengo pleno conocimiento que se aplicarán las medidas y/o sanciones determinadas por el CATIC dentro del marco normativo de la Universidad”</em>, al seleccionar la casilla <strong>Declaro que la información es verídica, </strong><strong>el usuario confirma que la información es correcta.</strong> </li>
                    <li class="mb-2">
                        El apartado 32 “Confirmo que concluí la captura de la información solicitada y ya puede ser enviada a la firma de las autoridades del área universitaria”, al seleccionar <strong>la opción Sí,</strong> <storng>el documento quedará a disposición del CATIC para su revisión.</storng>
                    </li>
                    <li class="mb-2">Tras guardar el instrumento, el responsable TIC podrá utilizar el botón <strong>Descargar</strong> para generar un documento PDF como respaldo de la información capturada para la entidad. </li>
                </ul>

                <h3 id="verifica" class="text-xl p-2">2) Verificación de la información</h3>
                <p class="p-2">Al concluir la captura y enviar sus respuestas, el contenido del archivo en formato PDF pasará a verificación técnica por parte del personal designado por el CATIC, quien podrá enviar algún correo electrónico (<a class="text-venice-blue-700 hover:underline" href="mailto:catic@unam.mx">catic@unam.mx</a>) al responsable TIC para solicitarle complementar alguna información y precisar alguna descripción o sustitución de la evidencia fotográfica.</p>

                <p class="p-2">De ser correcta y verificada la información, se enviará un correo electrónico a las autoridades señaladas en el apartado Avales del área universitaria, notificándoles de la disponibilidad del documento PDF final para su firma mediante la FEU, haciendo uso del Sistema de Firma de Documentos (<a class="text-venice-blue-700 hover:underline" href="https://firmadocumentos.unam.mx"></a>https://firmadocumentos.unam.mx).</p>

                <p class="p-2"><strong>Nota.</strong>En caso de que se requiera alguna corrección de la información, en la sección de <strong class="italic">“Datos de quien registra"</strong>, favor de enviar un correo a <a class="text-venice-blue-700 hover:underline" href="mailto:catic@unam.mx">catic@unam.mx</a> especificando el texto tal como aparece y a continuación el texto que desee corregir. </p>

                <h3 id="proceso" class="text-xl p-2">3) Firmado del documento con FEU (Del 27 de junio al 1 de julio)</h3>
                <p class="p-2">Una vez que el CATIC considere como completa la información integrada en la evidencia documental y fotográfica de la instalación y uso de equipos, la validará el titular de la entidad académica correspondiente y una persona asignada por este mismo, mediante su Firma Electrónica Universitaria (FEU). Para tal efecto, hay que considerar lo siguiente:</p>
                <ul class="list-decimal ml-12">
                    <li class="p-2">Los firmantes que avalarán el documento deben estar registrados en el Sistema de Firma de Documentos, incluyendo al titular de la Entidad. Si aún no se tiene una cuenta deberá ingresar en la opción <strong>Crear cuenta</strong> (<a class="text-venice-blue-700 hover:underline" href="https://firmadocumentos.unam.mx/crearCuenta">https://firmadocumentos.unam.mx/crearCuenta)</a></li>
                    <li class="p-2">Tener una FEU vigente (esta es la misma que se utiliza para firmar por ejemplo actas de calificaciones, en el sistema de compras, entre otros trámites universitarios con validez institucional). Si no se cuenta con ella, deberá ponerse en contacto al correo: <a class="text-venice-blue-700 hover:underline" href="mailto:firma.tic@unam.mx">firma.tic@unam.mx</a> o con la Mtra. Lizbeth Barreto, jefa del departamento de Firma Electrónica Avanzada al teléfono 55 5622 3975.</li>
                </ul>

                <p class="p-2">Ambas consideraciones son importantes, de lo contrario no podrá firmarse el documento. A continuación se describe el proceso de firma.</p>
                <ul class="list-disc ml-12">
                    <li class="p-2">A las personas asignadas para firmar se les notificará por correo electrónico que tienen un documento por formalizar con su FEU. </li>
                    <li class="p-2">Al ingresar al Sistema de Firma de Documentos, les presentará una bandeja de documentos por firmar, deben seleccionar el que corresponda a la evidencia e ingresar la contraseña de su FEU. </li>
                </ul>

                <p class="p-2">Una vez que todas las personas de la Entidad han firmado el documento, se podrá descargar la versión final del mismo en formato PDF con los mecanismos de integridad y verificación respectivos, para el expediente de la entidad. El CATIC revisará el documento final firmado y conservará una copia de dichos documentos en el expediente correspondiente al área universitaria.</p>
            </div>

        </div>
    </main>


</Layout>
