---
import bgImage from "../images/UNAM.png"; 
import bgImage2 from "../images/CATIC.png";
---

<header class="bg-[url('/bg_head.jpg')] h-14 md:h-24 pl-2 pr-2 border-b-2 border-black">
    <!-- flex md:justify-between lg:mr-80 lg:ml-80 lg:pt-6 -->
    <div class="flex md:justify-between xl:mr-80 xl:ml-80 lg:pt-6">
        <!-- w-full text-center border mt-2 p-4 lg:mt-0 lg:p-0 -->
        <div class="w-full flex justify-start md-block  p-4  lg:mt-0 lg:p-0">
            <a href="https://www.unam.mx" target="_blank"><img src={bgImage} alt="UNAM" width="182" height="auto" class="-mt-1 md:-mt-0 w-[122px] h-auto sm:h-12 sm:w-auto "></a>
        </div>
        <div class="invisible md:visible md:p-6 md:mt-2 lg:mt-0 lg:p-0 md:w-72 flex justify-end">
            <a href="https://catic.unam.mx" target="_blank"><img src={bgImage2} alt="Logo CATIC" class=" md:h-9 w-auto lg:h-12"></a>
        </div>
    </div>
   
</header>
