<nav class="relative bg-venice-blue-800 h-20 md:h-14">
    <div class="max-w-screen-xl flex flex-wrap justify-end ml-56 md:ml-52 xl:ml-[600px] mr-4 pt-3">

        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" width="50" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg  md:flex-row md:space-x-8 md:mt-0   dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
              <a href="/" class="block py-2 pl-3 pr-4 text-ath-gray-300 bg-blue-700 rounded md:bg-transparent md:text-ath-gray-50 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page"><i class="fa-solid fa-house-chimney"></i></a>
            </li>
            <li>
              <a href="/quienes/" class="block py-2 pl-3 pr-4 text-ath-gray-300 bg-white md:bg-transparent rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-ath-gray-50 md:p-0 dark:text-white md:dark:hover:text-ath-gray-50 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Quienes somos</a>
            </li>
            <li>
              <a href="/consejeros/" class="block py-2 pl-3 pr-4 text-ath-gray-300 bg-white md:bg-transparent rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-ath-gray-50 md:p-0 dark:text-white md:dark:hover:text-ath-gray-50 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Consejeros</a>
            </li>
            <li>
              <a href="https://www.red-tic.unam.mx/recursos/UNAM_AcuerdoCreacionCATIC2009.pdf" target="_blank" class="block py-2 pl-3 pr-4 text-ath-gray-300 bg-white md:bg-transparent rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-ath-gray-50 md:p-0 dark:text-white md:dark:hover:text-ath-gray-50 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Acuerdo</a>
            </li>
            <li>
              <a href="/convocatorias/" class="block py-2 pl-3 pr-4 text-ath-gray-300 bg-white md:bg-transparent rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-ath-gray-50 md:p-0 dark:text-white md:dark:hover:text-ath-gray-50 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Convocatorias</a>
            </li>
          </ul>
        </div>
      </div>
</nav>