<nav class="bg-venice-blue-800 h-20 md:h-14">
    <div class="flex flex-wrap justify-end pt-1 text-ath-gray-300 mr-4">
        <a href="/" class="p-2 text-ath-gray-50"><i class="fa-solid fa-house-chimney"></i></a>
        <a href="/quienes/" class="p-2 hover:text-ath-gray-50">Quiénes somos</a>
        <a href="/consejeros/" class="p-2 hover:text-ath-gray-50">Consejeros</a>
        <a href="https://www.red-tic.unam.mx/recursos/UNAM_AcuerdoCreacionCATIC2009.pdf" target="_blank" class="p-2 hover:text-ath-gray-50">Acuerdo</a>
        <a href="/convocatorias/" class="p-2 hover:text-ath-gray-50">Convocatorias</a>
    </div>
</nav>