---
import Analitica from '../components/analitica.astro';
import '../styles/tailwind.css';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Google tag (gtag.js) -->
		<Analitica />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<meta name="description" content="Sitio web para el Consejo Asesor en Tecnologías de Información y Comunicación de la UNAM" />
		<link rel="icon" type="image" href="/catic_icon.png" />
		<link rel="stylesheet" href="/css/all.min.css">
		<meta name="generator" content={Astro.generator} />

		
		
		
	</head>
	<body class="md:flex flex-col h-screen justify-between">

		<slot />
		
	<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>

